{% extends 'base.html.twig' %}

{% block title %}Edit Entree{% endblock %}

{% block body %}
    <h1>Edit Entree</h1>

    {{ include('entree/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_entree_index') }}">back to list</a>

    {{ include('entree/_delete_form.html.twig') }}
{% endblock %}
