{% extends 'base.html.twig' %}

{% block title %}New Entree{% endblock %}

{% block body %}
    <h1>Create new Entree</h1>

    {{ include('entree/_form.html.twig') }}

    <a href="{{ path('app_entree_index') }}">back to list</a>
{% endblock %}
